<h1>Все записи</h1>
<hr>
<% @post.each do |post| %>

    <div class="alert alert-light">
        <h3>
            <%= post.title %>
        </h3>
        <p>
            <%= post.body %>
        </p>

        <%= link_to "Читать полностью", post_path(post), :class => 'btn btn-outline-dark btn-sm'%>

        </div>
<% end %>